/*Formstack Colors*/
.fsBody .fsForm input[type=submit] {
  background: #ef4538 !important;
  color: #fff !important;
  padding: 1em 1.5em !important;
  border-radius: 0.25em !important;
}

.fsBody .fsForm input[type=submit]:hover {
  background: blue !important;
}

.fsBody .fsForm .fsField[type="radio"]:checked,
.fsBody .fsForm .fsField[type="checkbox"]:checked {
  border-color: #ef4538 !important;
}

.fsBody .fsForm .fsField[type="radio"]::before,
.fsBody .fsForm .fsField[type="checkbox"]::before {
  background: #ef4538 !important;
}

.fsBody .fsForm .fsField[type="radio"]::after {
  background: #fff !important;
}

.fsBody .fsField[type="checkbox"]::after {
  color: #fff !important;
}

.fsBody .fsForm .fsField:focus {
  border-color: #ef4538 !important;
  background: #fbfbfb !important;
  outline: none;
}

/*Formstack*/
.fsPage {
  max-width: 500px;
}

.fsBody * {
  font-family: inherit !important;
  font-size: inherit !important;
  color: inherit !important;
  line-height: inherit !important;
}

.fsBody form {
  float: none !important;
}

.fsBody .fsSection:not(:last-of-type) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.fsBody .fsSectionHeader {
  background: transparent;
}

.fsBody .fsSectionHeading {
  font-size: 1.75rem !important;
  font-weight: 600;
}

.fsBody .fsCell {
  position: relative;
  padding: 0 !important;
  margin: 2em 0 !important;
}

.fsBody .fsForm,
.fsForm .fsSpacerRow .fsRowBody {
  background: none !important;
}

.fsBody .fsLabel {
  display: block;
  margin: 0.5em 0;
  line-height: 1 !important;
}

.fsBody .fsRequiredMarker {
  font-weight: 600;
  margin-left: 0.25em;
  font-size: 0.75rem !important;
  vertical-align: text-top;
  opacity: 0.5;
}

.fsBody .fsField,
.fsBody input,
.fsBody select,
.fsBody textarea {
  position: relative;
  box-shadow: none;
  width: 100%;
  max-width: none !important;
  padding: 0.5rem !important;
  background: #fff;
  border: 1px solid;
  border-color: #dee2e6 !important;
  border-radius: 0.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.fsBody textarea {
  resize: vertical;
}

.fsBody .fsSubFieldGroup {
  margin-top: 0.5em;
}

.fsBody .fsSubFieldGroup .fsSupporting {
  font-size: 0.875rem !important;
  margin-bottom: 0.5em;
  line-height: 1 !important;
}

.fsBody .fsSubField {
  display: flex;
  flex-flow: column-reverse;
  margin-top: 0.5em;
}

.fsBody .fsSupporting {
  font-size: 0.75rem !important;
  margin-top: 0.25em;
}

.fsBody .fsPagination {
  text-align: left;
}

.fsBody input[type=submit] {
  transition: 250ms ease-in-out;
  width: auto;
  border: none;
  font-size: inherit !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.fsBody fieldset {
  margin: 2rem 0 0.25em;
  border: none;
}

.fsBody fieldset .fsField {
  width: auto;
  margin-right: 0.5em;
}

.fsBody .fsOptionLabel {
  display: flex;
  align-items: center;
  margin: 0.5em;
}

.fsBody .fieldset-content {
  margin-left: 0.5em;
}

.fsBody .fsCreditcardNumberField-icon {
  z-index: 2;
}

.fsBody .fsFieldAddress2 {
  margin-top: 0.5em !important;
}

.fsBody table {
  width: 100%;
}

.fsBody .fsForm table .fsMatrixLabelRow.fsMatrixLabelRow,
.fsBody table th {
  text-align: left;
}

.fsBody .fsForm table .fsMatrixLabel,
.fsBody table td {
  text-align: center;
  padding: 0.25em 0;
  font-weight: inherit;
}

.fsBody .fsField::after,
.fsBody .fsField::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.fsBody .fsForm .fsField[type="radio"],
.fsBody .fsForm .fsField[type="checkbox"] {
  position: relative;
  cursor: pointer;
}

.fsBody .fsForm .fsField[type="radio"]::after,
.fsBody .fsForm .fsField[type="checkbox"]::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.fsBody .fsField[type="radio"],
.fsBody .fsField[type="radio"]::before {
  border-radius: 50% !important;
  overflow: hidden;
}

.fsBody .fsField[type="radio"]::before,
.fsBody .fsField[type="checkbox"]::before {
  content: '';
  position: absolute;
  max-width: 80%;
  max-height: 80%;
  border-radius: 0.15em;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10%;
  left: 10%;
}

.fsBody .fsField[type="checkbox"]::after {
  content: '\f00c' !important;
  font-family: 'Font Awesome 5 Pro' !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6875rem;
  font-weight: 900;
}

.fsBody .fsField[type="radio"]:hover::after,
.fsBody .fsField[type="checkbox"]:hover::after {
  opacity: 0.5;
}

.fsBody .fsForm .fsField[type="radio"]:checked::before,
.fsBody .fsForm .fsField[type="checkbox"]:checked::before,
.fsBody .fsForm .fsField[type="checkbox"]:checked::after {
  opacity: 1;
}

.fsBody .fsFieldState {
  position: relative;
}

.fsBody .fsCell[fs-field-type="select"] {
  cursor: pointer;
}

.fsBody .fsCell[fs-field-type="select"]::after,
.fsBody .fsFieldState::after {
  content: '\f0d7';
  position: absolute;
  right: 0.5em;
  bottom: 12px;
  font-family: 'Font Awesome 5 Pro' !important;
}

.fsBody .fsCell[fs-field-type="address"] .fsSubFieldGroup {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 -0.5em;
}

.fsBody .fsCell[fs-field-type="address"] .fsSubFieldGroup > div {
  flex: 1;
  margin: 0.5em;
  min-width: 150px;
}

.fsBody .fsCell[fs-field-type="datetime"] .fieldset-content,
.fsBody .fsForm .fsCell[fs-field-type="datetime"] .always-ltr {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0.5em 0 0;
}

.fsBody .fsCell[fs-field-type="datetime"] .fieldset-content > select,
.fsBody .fsForm .fsCell[fs-field-type="datetime"] .always-ltr > select {
  flex: 1;
  min-width: 125px;
}

.fsBody .fsCell[fs-field-type="datetime"] .always-ltr span {
  display: none;
}

.fsBody .fsCell[fs-field-type="datetime"] .ui-datepicker-trigger {
  display: none;
}

.fsBody .fsForm .fsCurrencyPrefix {
  position: absolute;
  bottom: 1px;
  left: 0;
  z-index: 2;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border-right: 1px solid #dee2e6;
}

.fsBody .fsForm .fsCurrencyPrefix + input[type=number] {
  padding-left: calc(44px + 0.5em) !important;
}

.fsBody .fsError {
  width: 100%;
  margin: 1em 0;
  padding: 1em;
}

.fsBody .fsValidationError {
  background: none;
}

.fsBody .fsValidationError input {
  color: red !important;
  border: red 1px solid !important;
}

.fsBody .fsValidationError .fsLabel {
  padding-left: 0 !important;
  background-image: none !important;
}

body#tinymce {
  background: #FBFBFB;
  padding: 1em;
  min-height: 100vh;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html[lang="en"] {
  opacity: 0;
}

html.wf-active,
html.wf-inactive {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

body {
  color: #000;
  background: #f1f2f3;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-size: 1rem;
}

p {
  font-size: 16px;
  font-size: 1rem;
  margin: 0 0 0.5em;
  font-weight: 400;
  line-height: 1.6;
}

p {
  font-size: 0.875rem;
}

@media screen and (min-width: 38rem) {
  p {
    font-size: calc(0.875rem + 0.125 * ((100vw - 38rem) / 32));
  }
}

@media screen and (min-width: 70rem) {
  p {
    font-size: 1rem;
  }
}

p {
  line-height: 1.4em;
}

@media screen and (min-width: 38rem) {
  p {
    line-height: calc(1.4em + 0.2 * ((100vw - 38rem) / 32));
  }
}

@media screen and (min-width: 70rem) {
  p {
    line-height: 1.6em;
  }
}

p:last-of-type {
  margin: 0;
}

a {
  color: #ef4538;
}

h1 {
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
}

@media screen and (min-width: 38rem) {
  h1 {
    font-size: calc(2.5rem + 1 * ((100vw - 38rem) / 32));
  }
}

@media screen and (min-width: 70rem) {
  h1 {
    font-size: 3.5rem;
  }
}

h1 {
  line-height: 1em;
}

@media screen and (min-width: 38rem) {
  h1 {
    line-height: calc(1em + 0.2 * ((100vw - 38rem) / 32));
  }
}

@media screen and (min-width: 70rem) {
  h1 {
    line-height: 1.2em;
  }
}

h2 {
  font-weight: 600;
}

h2 {
  font-size: 1.75rem;
}

@media screen and (min-width: 38rem) {
  h2 {
    font-size: calc(1.75rem + 0.75 * ((100vw - 38rem) / 32));
  }
}

@media screen and (min-width: 70rem) {
  h2 {
    font-size: 2.5rem;
  }
}

h2 {
  line-height: 1em;
}

@media screen and (min-width: 38rem) {
  h2 {
    line-height: calc(1em + 0.2 * ((100vw - 38rem) / 32));
  }
}

@media screen and (min-width: 70rem) {
  h2 {
    line-height: 1.2em;
  }
}

h3 {
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
}

@media screen and (min-width: 38rem) {
  h3 {
    font-size: calc(1.25rem + 0.5 * ((100vw - 38rem) / 32));
  }
}

@media screen and (min-width: 70rem) {
  h3 {
    font-size: 1.75rem;
  }
}

h3 {
  line-height: 1em;
}

@media screen and (min-width: 38rem) {
  h3 {
    line-height: calc(1em + 0.2 * ((100vw - 38rem) / 32));
  }
}

@media screen and (min-width: 70rem) {
  h3 {
    line-height: 1.2em;
  }
}

h1,
h2,
h3 {
  margin: 0 0 0.25em;
  width: 100%;
}

ol,
ul {
  padding: 0 0 22px 30px;
  line-height: 1.6;
  overflow: hidden;
}

ul {
  list-style: outside disc;
}

li {
  position: relative;
}

blockquote {
  position: relative;
  max-width: 600px;
  margin: 3em auto;
  padding: 2rem;
  background: #f8f8f8;
  color: #262626;
  font-style: italic;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(50, 50, 93, 0.1);
}

blockquote::before,
blockquote::after {
  color: #ef4538;
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  position: absolute;
  font-size: 22px;
  font-size: 1.375rem;
}

blockquote::before {
  content: "\f10d";
  left: 0.5em;
  top: 0.5em;
}

blockquote::after {
  content: "\f10e";
  right: 0.5em;
  bottom: 0.5em;
}

address {
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border: none;
}

main {
  min-height: 72vh;
}

section {
  margin: 3em auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}

.group {
  display: flex;
  flex-flow: row wrap;
}

hr {
  margin: 1em auto;
  border: none;
  text-align: center;
  font-size: 1.75rem;
}

hr::before {
  content: '.....';
  letter-spacing: 0.6em;
}

.reset {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
  background: none;
}

::selection {
  background: #ef4538;
  color: #fff;
}

::-moz-selection {
  background: #ef4538;
  color: #fff;
}

.header .container {
  position: relative;
}

.header .group {
  justify-content: space-between;
  align-items: flex-end;
}

.header .logo {
  max-width: 240px;
}

.header .logo a {
  display: block;
}

.header .logo img {
  width: 100%;
}

.header .mobile-icons {
  display: none;
}

.header .mobile-icons .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.header .mobile-icons a,
.header .mobile-icons button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
  color: #424242;
  font-size: 2rem;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.header .search {
  position: absolute;
  right: 1em;
  top: 1em;
}

@media (max-width: 900px) {
  .header .group {
    align-items: center;
  }
  .header .logo {
    max-width: 160px;
    max-height: 70px;
    padding: 0 0 0 1em;
  }
  .header .search {
    display: none;
  }
  .header .mobile-icons {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
  }
}

.nav {
  text-align: center;
  user-select: none;
  z-index: 10;
}

.nav ul {
  overflow: unset;
  padding: 0;
}

.nav li {
  position: relative;
  display: block;
}

.nav a {
  font-size: 16px;
  font-size: 1rem;
  display: block;
  color: #000;
  text-decoration: none;
  transition: 250ms ease;
}

.nav a:hover,
.nav a:focus {
  color: #ef4538;
}

.nav li.open > a {
  color: #ef4538;
}

.nav a i {
  font-size: 12px;
  font-size: 0.75rem;
  cursor: pointer;
  margin: 0 0 0 6px;
}

.nav > ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.nav > ul > li {
  margin: 0 0 0 32px;
}

.nav > ul li:last-child ul {
  left: auto;
  right: 0;
  text-align: right;
}

.nav ul ul {
  border-radius: 0.25em;
  padding: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  top: -9999px;
  background: #fff;
  white-space: nowrap;
  min-width: 200px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  text-align: left;
  transition: opacity 0.35s;
  overflow: hidden;
}

.nav ul ul a {
  font-size: 13px;
  font-size: 0.8125rem;
  padding: 10px;
  margin: 0;
}

.nav ul ul a:hover,
.nav ul ul a:focus {
  background: #f8f8f8;
}

.nav li.open ul {
  top: calc(100% + 4px);
  opacity: 1;
  z-index: 10;
}

@media (max-width: 900px) {
  .nav {
    display: none;
  }
}

.mobile_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  transition: 250ms ease;
}

.mobile_nav .container {
  padding: 0;
  height: 100%;
  background: #f1f2f3;
}

.mobile_nav .mobile_nav_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: -1;
}

.mobile_nav .mobile-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  min-height: 5em;
  margin-bottom: 1px;
}

.mobile_nav .mobile-icons a,
.mobile_nav .mobile-icons button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
  color: #000;
  font-size: 2rem;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-decoration: none;
}

.mobile_nav ul.top {
  background: #f1f2f3;
  padding-bottom: 5em;
}

.mobile_nav ul.top > li > a {
  background: #fff;
}

.mobile_nav ul {
  overflow: unset;
  overflow-y: auto;
  height: 100%;
  max-height: 80vh;
  margin: 0;
  padding: 0;
  line-height: 1;
  list-style: none;
}

.mobile_nav li {
  position: relative;
  display: block;
}

.mobile_nav li a {
  display: block;
  padding: 1.25em;
  color: inherit;
  text-decoration: none;
  outline: none;
  transition: all 0.2s ease 0s;
}

.mobile_nav li {
  margin-bottom: 1px;
}

.mobile_nav .trigger {
  display: flex;
  flex-flow: row wrap;
  background: #fff;
}

.mobile_nav .trigger a {
  position: relative;
  width: calc(100% - 3.5em);
}

.mobile_nav .trigger button {
  width: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.mobile_nav .trigger .drop {
  width: 100%;
  height: 100%;
  max-height: 0;
  overflow: hidden;
  z-index: 9999;
  position: relative;
  background: rgba(0, 0, 0, 0.025);
  transition: max-height 0.15s ease-in-out;
}

.mobile_nav .drop {
  background: #f1f2f3;
  border-left: 0.5em solid #ef4538;
}

.mobile_nav .drop li a {
  width: 100%;
}

.mobile_nav .drop li:not(:last-of-type) {
  border-bottom: 1px solid #fff;
}

.mobile_nav .mobile_closer {
  opacity: 0;
  z-index: -1;
}

.mobile_nav .mobile_closer:hover,
.mobile_nav .mobile_closer:focus {
  opacity: 1;
  z-index: 1;
}

/* Nav open */
body.menu-open {
  overflow: hidden;
}

body.menu-open .mobile_nav {
  opacity: 1;
  z-index: 9999;
}

.pageheading {
  margin: 0;
}

.pageheading + section {
  margin-top: 0;
}

footer {
  width: 100%;
  background: #f8f8f8;
  padding: 1em;
  margin: 1em 0 0;
}

footer .container {
  text-align: center;
  color: #000;
}

footer a {
  color: #000;
}

footer .address {
  margin: 0 auto 5px;
}

footer .contact {
  margin: 0 auto 5px;
}

footer .copyright {
  margin: 0 auto 5px;
}

footer .ewd {
  margin: 0 auto 5px;
  width: 200px;
}

footer .ewd img {
  width: 100%;
}

.layout.layout_sidebar, .layout.layout_two_columns, .layout.layout_full {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.layout.layout_sidebar {
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.layout.layout_sidebar .col_1 {
  width: 100%;
  max-width: 800px;
}

.layout.layout_sidebar .col_2 {
  width: 300px;
  margin-left: 3em;
}

.layout.layout_sidebar .col_2 section {
  background: #fff;
}

.layout.layout_two_columns {
  max-width: 1200px;
  margin: 0 auto;
}

.layout.layout_two_columns .col {
  flex: 1;
  min-width: 300px;
}

.layout.layout_two_columns .col.col_1 {
  margin-right: 1.5em;
}

.layout.layout_two_columns .col.col_2 {
  margin-left: 1.5em;
}

.layout.layout_full .container {
  max-width: 100%;
  padding: 0;
}

.layout + .layout {
  margin-top: 3em;
}

.sidebar .sidebar_section {
  margin-bottom: 3em;
  padding: 1em;
  background: #fff;
  border-radius: 0.25em;
  border: 1px solid #f1f2f3;
}

.search {
  position: relative;
  min-width: 200px;
  max-width: 600px;
}

.search label {
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  z-index: -1 !important;
  opacity: 0;
}

.search button {
  position: absolute;
  background: none;
  height: 100%;
  cursor: pointer;
  outline: 0;
  border: 0;
  color: #000;
  top: 50%;
  right: 0;
  padding: 0 10px;
  line-height: 100%;
  font-size: 1.2rem;
  transform: translateY(-50%);
}

.search input {
  font-size: 14px;
  font-size: 0.875rem;
  border-radius: 3px;
  border: 1px solid #ddd;
  background: #fff;
  outline: 0;
  width: 100%;
  padding: 0.75em;
  padding-right: 3em;
  color: #000;
  font-style: italic;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Search Results */
p.simplesearch-results,
.simplesearch-paging {
  margin: 1em auto;
}

.simplesearch-highlight {
  font-weight: 600;
  color: #ef4538;
}

.search-result {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}

.search-result .cover {
  max-width: 300px;
  margin-right: 1em;
}

.search-result .cover img {
  width: 100%;
}

.contact .container {
  padding: 0;
  background: #fff;
  border-radius: 0.25em;
}

.contact .details,
.contact .form {
  padding: 3em;
}

.contact .details {
  background: rgba(0, 0, 0, 0.015);
}

.contact .details .section {
  margin-bottom: 2em;
}

.social-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.social-icons:hover a,
.social-icons:focus-within a {
  opacity: 0.5;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  padding: 0.25em;
  margin: 0.25em;
  color: #ef4538;
  transition: 150ms ease;
  text-decoration: none;
}

.social-icons a:hover, .social-icons a:focus {
  opacity: 1;
  transform: translate(0, -5%);
}

/* Button Styling */
.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  width: 100%;
}

.buttons-center {
  justify-content: center;
}

.buttons-center .button + .button {
  margin: 0 .5em;
}

.buttons-right {
  justify-content: flex-end;
}

.button {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0.75em 1em;
  background: #ef4538;
  color: #fff;
  border-radius: 0.25em;
  line-height: 1;
  transition: 150ms ease;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
}

.button + .button {
  margin: 0 0 0 1em;
}

.button:hover, .button:focus {
  background: #f37167;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.button:active {
  background: #e22112;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transform: translateY(1px);
}

.button i + span,
.button span + i {
  margin-left: 0.5em;
}

.button-reverse {
  background: #fff;
  color: #ef4538;
}

.button-ghost {
  background: transparent;
  color: #ef4538;
  border: 1px solid #ef4538;
}

.button-secondary {
  color: inherit;
  background: rgba(0, 0, 0, 0.25);
}

.button-text {
  color: #ef4538;
  background: transparent;
}

@media (max-width: 768px) {
  .button,
  + .button {
    margin: 0 1em 1em 0;
  }
}

button.button,
input[type="submit"].button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #fff;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.carousel {
  margin: 0 auto;
  user-select: none;
}

.carousel .container {
  display: none;
  padding: 0;
}

.carousel .container.slick-initialized {
  display: block;
}

.carousel .slide {
  user-select: none;
  width: 100%;
  position: relative;
  outline: none;
}

.carousel .slide.slick-current {
  z-index: 100;
}

.carousel .slide a {
  user-select: none;
  text-decoration: none;
}

.carousel .slide img {
  user-select: none;
  width: 100%;
  height: auto;
}

.carousel .slide .info {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #fff;
  padding: 2em;
  text-align: center;
}

.carousel .slide .title {
  margin: 0;
  font-weight: 600;
}

.carousel .slide .title {
  font-size: 1.75rem;
}

@media screen and (min-width: 38rem) {
  .carousel .slide .title {
    font-size: calc(1.75rem + 1.25 * ((100vw - 38rem) / 32));
  }
}

@media screen and (min-width: 70rem) {
  .carousel .slide .title {
    font-size: 3rem;
  }
}

.carousel .slide .description {
  font-weight: 500;
}

.carousel .slide .description {
  font-size: 1rem;
}

@media screen and (min-width: 38rem) {
  .carousel .slide .description {
    font-size: calc(1rem + 0.75 * ((100vw - 38rem) / 32));
  }
}

@media screen and (min-width: 70rem) {
  .carousel .slide .description {
    font-size: 1.75rem;
  }
}

.carousel .slide .button {
  margin: 0.5em 0;
}

.carousel > li:only-child {
  display: none;
}

.slick-arrows .prev,
.slick-arrows .next {
  font-size: 30px;
  font-size: 1.875rem;
  user-select: none;
  opacity: 0.2;
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  z-index: 100;
  border: none;
  padding: 8px 20px;
  color: #fff;
  transition: 250ms ease;
}

.slick-arrows .prev {
  left: 0;
  text-shadow: 1px 0 1px #222;
}

.slick-arrows .next {
  right: 0;
  text-shadow: -1px 0 1px #222;
}

.slick-arrows:hover .next,
.slick-arrows:hover .prev {
  opacity: 1;
}

.slick-arrows .next:focus,
.slick-arrows .prev:focus {
  opacity: 1;
  outline: none;
}

.slick-arrows .slick-dots > li:only-child {
  display: none;
}

.slick-dots {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  width: auto;
  line-height: 1;
  list-style: none;
  text-align: center;
  margin: 0.5em;
}

.slick-dots li {
  margin: 0.1em;
  width: 0.5em;
  height: 0.5em;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  overflow: hidden;
}

.slick-dots li.slick-active {
  background: #ef4538;
}

.slick-dots li button {
  opacity: 0;
}

.features .group {
  margin: 0 -2em;
}

@media (max-width: 768px) {
  .features .group {
    margin: 0;
  }
}

.features .item {
  text-decoration: none;
  display: block;
  color: inherit;
  position: relative;
  margin: 1em;
  width: calc(33.333% - 2em);
  overflow: hidden;
}

.features .item .info {
  width: 100%;
  padding: 1em 0;
  text-align: center;
}

.features .item:hover .image {
  opacity: 0.9;
}

.features img {
  width: 100%;
  height: auto;
}

.blog {
  margin: 0 auto;
}

.blog .container > .group {
  margin: 0 -2em;
}

.blog a {
  text-decoration: none;
  color: inherit;
}

.blog .post {
  width: calc(33.333% - 2em);
  margin: 1em;
  background: #fff;
  transition: 250ms ease;
}

.blog .cover {
  margin: 0 auto;
  overflow: hidden;
}

.blog .cover img {
  width: 100%;
  transition: 250ms ease;
}

.blog .caption {
  display: none;
}

.blog .info {
  padding: 1em;
  text-align: center;
}

.blog .summary {
  font-size: 16px;
  font-size: 1rem;
  display: none;
  padding-top: 1em;
}

/* First Blog */
.blog-layout .post:first-of-type {
  width: 100%;
  display: flex;
  justify-content: center;
}

.blog-layout .post:first-of-type > * {
  width: 50%;
}

.blog-layout .post:first-of-type .cover {
  order: 1;
}

.blog-layout .post:first-of-type .info {
  padding: 2em;
  text-align: left;
}

@media (max-width: 768px) {
  .blog .container > .group {
    margin: 0;
  }
}

.blog-bar .container {
  background: #fff;
  padding: 1em;
}

.blog-bar .group {
  align-items: center;
  justify-content: space-between;
}

.blog-bar a {
  padding: 0.5em;
  color: inherit;
  opacity: 0.75;
  text-decoration: none;
  transition: 250ms ease;
}

.blog-bar a:hover, .blog-bar a:focus {
  opacity: 1;
}

.blog-bar a:first-of-type {
  font-weight: 600;
}

.blog-bar a.active {
  color: #ef4538;
}

.blog-bar button {
  padding: 0.5em;
  outline: none;
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  transition: 250ms ease;
}

.pageheading + section {
  margin: 0;
}

.pageheading + .post-meta + section {
  margin: 0;
}

.post-hero {
  margin-bottom: 1em;
}

.post-hero img {
  width: 100%;
}

.post-meta .meta {
  margin-bottom: 1em;
}

.post-meta .meta a {
  text-decoration: none;
}

.post-meta .meta .label {
  font-weight: 600;
  font-size: 1.25rem;
}

.post-meta .meta.author-photo img {
  max-width: 80px;
  width: 100%;
}

.tags .tag {
  font-size: 0.875rem;
  opacity: 0.75;
  text-decoration: none;
  color: inherit;
  transition: 250ms ease;
}

.tags .tag:hover, .tags .tag:focus {
  opacity: 1;
}

.tags .tag:only-child {
  margin: 0;
}

.instagram .heading {
  width: 100%;
  margin: 0 0 1em;
  text-align: center;
}

.introduction .container {
  max-width: 960px;
  padding: 1em;
  text-align: center;
}

@media (max-width: 768px) {
  .introduction {
    margin: 1em auto;
  }
}

.alt_rows {
  margin: 1em auto;
}

.alt_rows .container {
  padding: 0;
}

.alt_rows .item {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 auto 3em;
}

.alt_rows .item:nth-of-type(even) .text {
  margin-left: 0;
  margin-right: 2em;
  order: -1;
}

.alt_rows .item .image {
  min-width: 275px;
  flex: 2;
}

.alt_rows .item .image img {
  width: 100%;
}

.alt_rows .item .text {
  flex: 3;
  margin-left: 2em;
}

@media (max-width: 900px) {
  .alt_rows .item {
    display: block;
  }
  .alt_rows .item .image {
    max-width: 100%;
  }
  .alt_rows .item .text {
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
  }
}

.slideshow {
  margin: 1em auto;
}

.slideshow .container {
  display: none;
  width: 100%;
  height: auto;
  user-select: none;
  overflow: hidden;
}

.slideshow .slick-initialized {
  display: block;
}

.slideshow .slide {
  position: relative;
}

.slideshow .slide a {
  text-decoration: none;
  outline: none;
}

.slideshow .slide .caption {
  padding: 1em;
}

.slideshow .slide > li:only-child {
  display: none;
}

.universal-table {
  max-width: 100%;
  width: 100%;
  margin-bottom: 1em;
  overflow: hidden;
  overflow-x: auto;
}

table {
  width: 100% !important;
  height: auto !important;
  display: table;
  background: #fff;
  border-color: #f1f2f3;
  border-collapse: collapse;
  border-spacing: 0;
}

table thead tr {
  text-align: left;
}

table th {
  border-style: solid;
  border-width: 1px;
  border-color: inherit;
  padding: 1rem;
  font-weight: bold;
}

table tr {
  text-align: left;
}

table td {
  border-style: solid;
  border-width: 1px;
  border-color: inherit;
  padding: 1rem;
  white-space: nowrap;
}

.gallery {
  margin: 1em auto;
}

.gallery .group {
  margin: 0 -1em;
  justify-content: center;
}

.gallery .item {
  width: calc(25% - 2em);
  margin: 1em;
  text-decoration: none;
  color: inherit;
}

.gallery .item .image {
  overflow: hidden;
}

.gallery .item img {
  width: 100%;
  transition: 250ms ease;
}

.gallery .item:hover img,
.gallery .item:focus img {
  transform: scale(1.08);
}

.gallery .item .caption {
  margin-top: 0.25em;
}

@media (max-width: 768px) {
  .gallery .item {
    width: calc(33.333% - 2em);
  }
}

@media (max-width: 600px) {
  .gallery .group {
    margin: 0 -1em;
  }
  .gallery .item {
    width: calc(50% - 1em);
    margin: 0.5em;
  }
}

@media (max-width: 400px) {
  .gallery .item {
    width: calc(100% - 1em);
    margin: 0.5em;
  }
}

/*# sourceMappingURL=style.css.map */