footer {
    width: 100%;
    background: $color-grey-3;
    padding: 6em 1em 1em;

    .container {
        color: #fff;
    }

    .group {
        justify-content: space-between;

        &.copyline {
            margin-top: 3em;
        }
    }

    .section {
        padding: 0 2em;
    }

    .logo {
        max-width: 200px;
    }

    a {
        color: #fff;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $color-3;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
    }



    .ewd {
        width: 200px;

        svg {
            width: 100%;
        }

        img {
            width: 100%;
        }
    }
}
