.header {

    .container {
        position: relative;
    }

    .group {
        justify-content: space-between;
        align-items: flex-end;
    }

    .logo {
        max-width: 240px;

        a {
            display: block;
        }

        img {
            width: 100%;
        }
    }

    .mobile-icons {
        display: none;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        a,
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 100%;
            color: $color-grey-3;
            font-size: 2rem;
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
    }

    .search {
        position: absolute;
        right: 1em;
        top: 1em;
    }

    @media (max-width: 900px) {
        .group {
            align-items: center;
        }

        .logo {
            max-width: 160px;
            max-height: 70px;
            padding: 0 0 0 1em;
        }

        .search {
            display: none;
        }

        .mobile-icons {
            display: flex;
            flex-flow: row nowrap;
            height: 100%;
        }
    }

}
