.layout {

    &.layout_sidebar,
    &.layout_two_columns,
    &.layout_full {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
    }

    &.layout_sidebar {
        justify-content: space-between;
        max-width: $container-width;
        margin: 0 auto;

        .col_1 {
            width: 100%;
            max-width: 800px;
        }

        .col_2 {
            width: 300px;
            margin-left: 3em;

            section {
                background: #fff;
            }
        }
    }

    &.layout_two_columns {
        max-width: $container-width;
        margin: 0 auto;

        .col {
            flex: 1;
            min-width: 300px;

            &.col_1 {
                margin-right: 1.5em;
            }
            &.col_2 {
                margin-left: 1.5em;
            }
        }
    }

    &.layout_full {
        .container {
            max-width: 100%;
            padding: 0
        }
    }

    & + & {
        margin-top: 3em;
    }

}
