.menus {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 60vh;
    background: $color-grey-3;
    overflow: hidden;
    animation: menu-close-transform 0.6s ease-in-out forwards;

    body.navigation-open & {
        animation: menu-open-transform 0.6s ease-in-out forwards;

        .container {
            animation: menu-open-container-opacity 0.3s ease-in forwards 0.6s;
        }
    }
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10em;
    width: 100%;
    height: 100%;
    background: $color-grey-3;
    color: #fff;

    &.menu-open {
        z-index: 2;

        .group > * {
            opacity: 0;
            animation: menu-group 0.3s ease-in-out forwards;

            @for $i from 0 to 6 {
                &:nth-child(#{$i}) {
                    animation-delay: 0.15s * $i;
                }
            }
        }
    }

    .container {
        padding: 3em 1em;
        opacity: 0;
        max-width: $container-width;
    }

    .group {

    }

    .menu-section {
        flex: 1;
    }

    h3 {
        font-size: 1.25rem;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {

        }

        a:not(.button) {
            position: relative;
            font-size: 1.5rem;
            text-decoration: none;
            transition: $transition-1;

            &:hover,
            &:focus {
                color: $color-3;

                &::after {
                    opacity: 1;
                    transform: translate(150%, 0);
                }
            }

            &::after {
                content: '\f061';
                font-family: 'Font Awesome 5 Pro';
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                color: $color-3;
                opacity: 0;
                font-weight: 300;
                transition: $transition-1;
            }
        }

        a.button {
            font-size: 1.25rem;
        }
    }

    .menu-actions {
        width: 100%;
        margin-top: 3em;
    }

    @keyframes menu-open-transform {
        from { transform: translate(0, -100%); }
        to { transform: translate(0, 0); }
    }

    @keyframes menu-close-transform {
        from { transform: translate(0, 0); }
        to { transform: translate(0, -100%); }
    }

    @keyframes menu-open-container-opacity {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    @keyframes menu-group {
        from {
            opacity: 0;
            transform: translate(0, -25%)
        }
        to {
            opacity: 1;
            transform: translate(0, 0)
        }
    }

}
