.nav {
    display: flex;
    align-items: center;
    text-align: center;
    user-select: none;
    z-index: 10;
}

.nav ul {
    overflow: unset;
    padding: 0;
}

.nav li {
    position: relative;
    display: block;
}

.nav button {
    @include fs(18px);
    display: block;
    color: $color-0;
    text-decoration: none;
    transition: $transition-1;
    -webkit-apearance: none;
    -moz-appearance:  none;
    background: none;
    border: none;
    outline: none;
    font-family: inherit;
    border-bottom: 2px solid transparent;
    padding: 0.25em 0;
    cursor: pointer;

    body.navigation-open & {
        color: #fff;
    }

    &.menu-open {
        border-color: #fff;

        i:not(.fa-search) {
            transform: rotateX(180deg)
        }
    }
}

.nav button:hover,
.nav button:focus {
    color: $color-1;
}

.nav li.open > button {
    color: $color-1;
}

.nav button i:not(.fa-search) {
    @include fs(16px);
    cursor: pointer;
    margin-left: 0.25em;
    opacity: 0.25;
    transition: $transition-1;
}

.nav > ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.nav > ul > li {
    margin: 0 0 0 2em;
}

@media (max-width: 900px) {
    .nav {display: none;}
}
