.blog {
    margin: 0 auto;

    .container {

        > .group {
            margin: 0 -2em;
        }
    }

    .group {

    }

    a {
        text-decoration: none;
        color: inherit;
    }

    &.blog-widget {
        position: relative;
        padding: 3em 0;

        > .decor {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            z-index: -1;

            svg {
                display: block;
                height: auto;
            }

            rect {
                fill: none;
            }

            path {
                width: 100%;
                fill: $color-grey-2;
            }

        }

        // &::after {
        //     content: '';
        //     position: absolute;
        //     bottom: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 50%;
        //     background: $color-grey-2;
        //     z-index: -1;
        // }
    }
}

.blog .post {
    width: calc(33.333% - 2em);
    margin: 1em;
    background: #fff;
    transition: $transition-1;
    border-radius: 1em;
    box-shadow: $box-shadow-3;
    overflow: hidden;

    .cover {
        margin: 0 auto;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .decor {

        svg {
            display: block;
            position: absolute;
            bottom: 100%;
            right: -1px;
            left: auto;
            width: 100%;
            height: auto;
        }

        rect {
            fill: none;
        }

        path {
            width: 100%;
            fill: $color-2;
            opacity: 0.8;
        }

        svg:last-of-type {
            transform: rotateY(180deg);
            bottom: calc(100% - 2px);
            right: auto;
            left: -1px;

            path {
                fill: #fff;
                opacity: 1;
            }
        }
    }

    &:last-of-type {

        .decor svg:first-of-type path {
            fill: $color-1;
        }
    }

    .info {
        position: relative;
        padding: 0.5em 1em;

        .date {
            position: absolute;
            bottom: 100%;
            left: 1em;
            background: $color-3;
            color: #fff;
            padding: 0.35em 0.75em;
            border-radius: 5em;
            text-transform: uppercase;
            font-size: 0.875rem;
            margin-right: 0.75em;
        }

        .title {

        }

        .summary {
            @include fs(16px);
            display: none;
            padding-top: 1em;
        }

        .buttons {
            margin: 1em 0;
        }

        .button {
            color: $color-2;
        }
    }

    &:hover,
    &:focus {
        transform: translate(0, -0.5em);
        box-shadow: $box-shadow-3;
    }

}

/* First Blog */
.blog-layout .post:first-of-type {
    width: 100%;
    display: flex;
    justify-content: center;
}

.blog-layout .post:first-of-type > * {
    width: 50%;
}

.blog-layout .post:first-of-type .cover {
    order: 1;
}

.blog-layout .post:first-of-type .info {
    padding: 2em;
    text-align: left;
}

@media (max-width: 768px) {
    .blog .container > .group {
        margin: 0;
    }
}

@media (max-width: 640px) {

}
