$button-color: #fff;
$button-background: $color-1;

/* Button Styling */
.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 1em;

    &-center {
        justify-content: center;

        .button + .button {
            margin: 0 .5em;
        }
    }

    &-right {
        justify-content: flex-end;
    }

}



.button {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0.75em 1em;
    background: $button-background;
    color: $button-color;
    border-radius: 0.25em;
    line-height: 1;
    transition: 150ms ease;
    text-decoration: none;
    user-select: none;
    cursor: pointer;

    + .button {
        margin: 0 0 0 1em;
    }

    &:hover,
    &:focus {
        background: darken($button-background, 10%);
        //box-shadow: $box-shadow-2;
        transform: translate(0, -0.125em);
    }

    &:active {
        background: darken($button-background, 10%);
        box-shadow: $box-shadow-2;
        transform: scale(1.05);
    }

    i + span,
    span + i {
        margin-left: 0.5em;
    }

    // Unique styles
    &-reverse {
        background: #fff;
        color: $button-background;
    }
    &-ghost {
        background: transparent;
        color: $button-background;
        border: 2px solid $button-background;

        &:hover,
        &:focus {
            background: none;
            border-color: $color-3;
            color: $color-3;
        }
    }

    &-secondary {
        color: inherit;
        background: rgba(0,0,0,0.25);
    }

    &-text {
        color: $color-1;
        background: transparent;
        padding: 0;
    }

    &-2 {
        background: $color-2;
    }
    &-3 {
        background: $color-3;

        &:hover,
        &:focus {
            background: darken($color-3, 10%);
        }
    }

    &-size-small {
        font-size: 1rem;
    }

    @media (max-width: 768px) {
        &,
        + &{
            margin: 0 1em 1em 0;
        }
    }
}

button.button,
input[type="submit"].button {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: $button-color;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
