.contact {

	.container {
	    padding: 0;
	    background: #fff;
	    border-radius: 0.25em;
	}

	.details,
	.form {
	    padding: 3em;
	}

	.details {
	    background: rgba(0,0,0,0.015);

		.section {
		    margin-bottom: 2em;
		}

	}

	.form {

	}

}
