.features {
    position: relative;
    background: $color-grey-2;
    padding: 3em 0;
    margin: 6em auto;

    .decor {
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        z-index: -1;

        svg {
            display: block;
        }

        rect {
            fill: none;
        }

        path {
            width: 100%;
            fill: $color-grey-2;
        }

        &:last-of-type {
            top: 100%;
            bottom: auto;
            transform: rotate(180deg);
        }
    }

    .container {

    }

    .group {
        margin: 0 -2em;

        @media (max-width: 768px) {
            margin: 0;
        }
    }

    .item {
        position: relative;
        text-decoration: none;
        display: block;
        color: #fff;
        position: relative;
        margin: 1em;
        padding: 4em 3em;
        width: calc(33.333% - 2em);
        border-radius: 1em;
        transition: $transition-1;
        overflow: hidden;

        &:nth-of-type(1) {
            background: $color-1;

            .arrow {
                color: $color-1;
            }
        }
        &:nth-of-type(2) {
            background: $color-3;

            .arrow {
                color: $color-3;
            }
        }
        &:nth-of-type(3) {
            background: $color-2;

            .arrow {
                color: $color-2;
            }
        }

        h2 {
            color: #fff;
        }

        .arrow {
            position: absolute;
            bottom: 1em;
            right: 1em;
            padding: 1em;
            background: #fff;
            border-radius: 50%;
            width: 3em;
            height: 3em;
            //color: $color-1;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transform: translate(-1em, 0);
            transition: $transition-1;
            box-shadow: $box-shadow-1;
        }

        &:hover,
        &:focus {
            box-shadow: $box-shadow-3;

            .arrow {
                opacity: 1;
                transform: translate(0, 0);
            }
        }

    }

}
