.post-meta {

	.meta {
		margin-bottom: 1em;

		a {
			text-decoration: none;
		}

		.label {
			font-weight: 600;
			font-size: 1.25rem;
		}

		&.author-photo img {
			max-width: 80px;
			width: 100%;
		}
	}
}
