.slick-dots {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    width: auto;
    line-height: 1;
    list-style: none;
    text-align: center;
    margin: 0.5em;
    
    li {
        margin: 0.1em;
        width: 0.5em;
        height: 0.5em;
        background: rgba(0,0,0,0.25);
        border-radius: 50%;
        overflow: hidden;

        &.slick-active {
            background: $color-1;
        }

        button {
            opacity: 0;
        }
    }
}
