.stats {

    .group {
        justify-content: center;
        margin: 1em auto;
    }

    .stat-item {
        padding: 4em;
        text-align: center;
        border-radius: 1em;
    }

    .value {
        @include fluid('font-size', 2rem, 4rem);
        line-height: 1.15;
        color: $color-3;
    }

    .label {

    }
}
